<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <body class="bg-dark text-success">
        <nav class="d-flex justify-content-between align-items-center col-12 border-bottom border-light">
            <h1 class="text-center">Welcome {{user.first_name}}!!!</h1>
            <div class="d-flex col-4 justify-content-around">
                <a href="/new/playlist" class="btn btn-success">Add New Playlist</a>
                <a href="/logout" class="btn btn-primary">Logout</a>
            </div>
        </nav>
        <div class="col-9 mx-auto mt-5">
            <h3>ALL PLAYLISTS</h3>
            <table class="table table-bordered bg-light text-dark">
                <thead>
                    <tr>
                        <th>Created By</th>
                        <th>Playlist Title</th>
                        <th>Link to Playlist</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for playlist in playlists %}
                        <tr>
                            <td>{{playlist.user.first_name}}</td>
                            <td>{{playlist.title}}</td>
                            <td><a href="{{playlist.link}}">{{playlist.link}}</a></td>
                            <td>
                                <a href="/playlist/{{playlist.id}}">View</a>
                                {% if playlist.user_id == session.user_id %}
                                | <a href="/edit/playlist/{{playlist.id}}">Edit</a>
                                | <a href="/destroy/playlist/{{playlist.id}}">Delete</a>
                                {% else %}
                                | <a href="/like/playlist/{{playlist.id}}">Like</a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </body>
    </html>
</body>
</html>